@import "./styles/Steps.css";
@import "./styles/StepInformation.css";

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.attribution {
  font-size: 11px;
  position: absolute;
  left: 40%;
  transform: translate(0% -50%);
  bottom: 0px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

form {
  width: 80vw;
  min-height: 80vh;
  background-color: var(--White);
  border-radius: 10px;
  display: flex;
  padding: 1.5rem;
  position: relative;
}

@media screen and (max-width: 750px) {
  form {
    width: 100vw;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
  }
  .steps {
    min-height: 30vh;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .stepDetail {
    display: none;
  }
  .contentContainer {
    width: 100%;
  }
  .stepContent {
    margin-inline: auto;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  form {
    background: url(/bg-sidebar-mobile.svg) top no-repeat, var(--Magnolia);
  }

  .steps {
    background: none;
  }
  .contentContainer {
    background-color: var(--White);
    box-shadow: 0px 0px 5px var(--Cool-gray);
    border-radius: 10px;
  }
}
